.ProductPage {
    position: absolute;
    inset: 0;
    padding: calc(50px + var(--navbar-height)) 140px 0 140px;
    background-color: var(--color-white);
    overflow: hidden;
}

.header {
    margin: 0 0 40px 0;
    padding: 10px 15px;
    background-color: var(--color-light-gray);
    height: 60px;
    width: calc(100% - 30px);
}

.input {
    height: 31px;
    font-family: var(--nav-font-family);
    font-size: var(--nav-font-size);
    font-weight: 700;
    border: 1px solid var(--color-black);
    padding: 2px 8px;
}

.addCard{
    width: 248px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 37.45px;
    width: 37.45px;
    background-color: var(--color-secondary);
    border: 3px solid var(--color-black);
    color: var(--color-black);
    padding: 0;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-white);
    color: var(--color-white);
}

@media (max-width: 500px) {
    .title {
        font-size: 15px;
        padding: 0px 5px 10px 5px;
    }
}


.tableWrapper {
    width: 100%;
    margin-top: 20px;
}