.Footer {
    background-color: var(--color-light-gray);
    padding: 46px 140px 0 140px;
    width: calc(100% - 280px);
    height: 244px;
}

.Footer-item-1 {
    width: 109px;
}

.Footer-item-2 {
    width: 400px;
}

.Footer-item-3 {
    width: 405px;
}